
@{
    ViewBag.Title = "Change Password";
}

<br>
<h2>Change Password</h2>
<br>
<form class="form-row" action="/Profile/ChangePassword" method="post">
    <div class="form-group col-md-4 my-2">
        <label for="InputOldPassword">Old Password</label>
        <input type="password" class="form-control" id="InputOldPassword" placeholder="Old Password" name="OldPassword">
    </div>
    <div class="form-group col-md-4 my-2">
        <label for="InputNewPassword">New Password</label>
        <input type="password" class="form-control" id="InputNewPassword" placeholder="New Password" name="NewPassword">
    </div>
    <div class="form-group col-md-4 my-2">
        <label for="InputConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="InputConfirmPassword" placeholder="Confirm Password" name="ConfirmPassword">
    </div>
    <div class="text-danger">
        @Html.ValidationSummary()
    </div>
    <button type="submit" class="btn btn-dark my-2">Save Changes</button>
</form>