
@{
    ViewBag.Title = "Report Question";
}

<h2>Why do you want to report this question?</h2>

<form class="form-inline my-3" action="/Question/ReportQuestion" method="post">
    <div class="row mx-sm-3 mb-2">
        <input type="hidden" id="QuestionID" name="QuestionID" value="@ViewBag.QuestionID">
        <div class="col-10">
            <textarea class="form-control" id="InputReason" rows="3" placeholder="Reason (Optional)" name="Reason"></textarea>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-dark mb-2">Report</button>
        </div>
        <div class="text-danger">
            @Html.ValidationSummary()
        </div>
    </div>
</form>

